* {
  font-family:  'Google Sans', sans-serif;
}

:root {
  --primary: #700000;
  --accent1: #800000;
  --accent2: #900000;
  --accent3: #a00000;
  --accent4: #b00000;
  --light-neutral: #F5F5F5;
  --dark-neutral: #1E1E1E;
}

body {
  overflow:hidden;
}
